<div class="container">
  
  <div>
    <h1>{{editando? 'Edição de ' : 'Cadastrar'}} {{entidade}}</h1>
  </div>

  <div>
    <form #form="ngForm" autocomplete="off" class="example-container">
      <mat-form-field>
        <input matInput [formControl]="numero" required placeholder="Input" type="number" [(ngModel)]="agencia.numero" placeholder="Número da agência">
        <mat-error *ngIf="numero.invalid">Mínimo de 3 caracteres</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput required placeholder="Input" minlength="3" [(ngModel)]="agencia.cidade" name="cidade" placeholder="Cidade">
        <mat-error>Mínimo de 3 caracteres</mat-error>
      </mat-form-field>
    
      <mat-form-field>
          <input matInput required placeholder="Input" minlength="3" [(ngModel)]="agencia.bairro" name="bairro" placeholder="Bairro">
          <mat-error>Mínimo de 3 caracteres</mat-error>
      </mat-form-field>

    
  </form>
  <button mat-raised-button [disabled]="form.invalid || numero.invalid" (click)="salvar()" class="cadastro">{{editando? 'Salvar ' : 'Cadastrar'}}</button>
  <button mat-raised-button color="primary" routerLink="/agencias">Voltar Pesquisa</button>
  </div>
</div>