<div class="container">
  
    <div>
      <h1>{{editando? 'Edição de ' : 'Cadastrar'}} {{entidade}}</h1>
    </div>
  
    <div>
      <form #form="ngForm" autocomplete="off" class="example-container">

        <mat-form-field>
          <mat-label>Cliente</mat-label>
          <mat-select required name="cliente" [(ngModel)]="conta.cliente">
            <mat-option *ngFor="let cliente of clientes" [value]="cliente.value">
              {{cliente.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Agencia</mat-label>
          <mat-select required name="agencia" [(ngModel)]="conta.agencia">
            <mat-option *ngFor="let agencia of agencias" [value]="agencia.value">
              {{agencia.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
     
    </form>
    <button mat-raised-button [disabled]="form.invalid" (click)="editando? atualizar(): salvar()" class="cadastro">{{editando? 'Salvar ' : 'Cadastrar'}}</button>
    <button mat-raised-button color="primary" routerLink="/contas">Voltar Pesquisa</button>
    </div>
  </div>